.search-container{style: "position:relative; margin:15% auto 0 auto; max-width:95%; width:500px;"}
  %form.form-group{action: '/search'}
    %input.form-control.input-lg{type: 'text', name: 'q', placeholder: "Enter Github Repo"}
