.container
  %h1
    %span.mega-octicon.octicon-repo{style: 'font-size: 42px;'}
    %a{href: @repository.owner.html_url, target: '_blank'} #{@repository.owner.login}
    \/
    %a{href: @repository.html_url, target: '_blank'} #{@repository.name}

  = haml :_top_contributors, layout: false
  - if @pull_requests.any?
    = haml :_pull_requests, layout: false
