.container
  %h1
    %span.glyphicon.glyphicon-file{'aria-hidden' => 'true'}
    %a{href: @repository.owner.html_url, target: '_blank'} #{@repository.owner.login}
    \/
    %a{href: @repository.html_url, target: '_blank'} #{@repository.name}

  = haml :_top_contributors, layout: false
  - if @pull_requests.any?
    = haml :_pull_requests, layout: false
